// # Colors

// ## Primary

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-bright-blue: hsl(245, 75%, 62%);
$white: hsl(0, 0%, 100%);

// ## Neutral

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Border Radius
$radius: 1.3rem;
